* {
    
    box-sizing: border-box;
}

body {
    
    line-height: 1.3rem;
    margin-top: 0;
	margin-bottom: 10px;
	margin-top: -10px;
    
}

h1,h2,h3, a {  
   
font-family: 'Open Sans', arial;   
    
}


p {
    
font-family: 'Times New Roman', arial; 

}

.container1 {
	background-color: #4abdac;
}

.container2 {
	background-color: #fc4a1a;
}

.container3 {
	background-color: #f7b733;
}

.container4 {
	background-color: #dfdce3;
}

.container {
    
    width: 79%;
    margin: 0 auto;
}

.container::after {   /*Met Ramon erop gezet*/
    content: "";
    display: table;
    clear: both;
}

.intro {
	width: 50%;
}


img{
    width: 100%;
}

/***********  Base layout  *************/

.name a,
.main nav a {
	padding: 10px 15px;
    display: block;
}

.main-nav {
    margin-top: 5px;
    
}

nav ul li {
	text-transform: uppercase;
}

.title {
	font-weight: bold;
	font-size: 2em;
}

h2 {
    text-align: center;
	font-weight: 100;
	
}

section {
	margin-top: 80px;
	margin-bottom: 80px;
}

.gallery {
    margin-top: 1rem;
}


/****************link style*********************/

a {
    text-decoration: none;
    
}


ul {
    list-style:  none;
}


/*******************   Navigation       ***********************/

.name {
    
    margin: 0;
	padding-bottom: 0;
}




/*****************   style    ************************/

.headline {
    margin-bottom: 0;
}

.gallery {
    margin-top: 50px;
    
}

h3,
p {
    text-align: center;
    margin: 0;
    
}

.border {
	
	padding-top: 10px;
}


.title {
    
    margin-top: 0rem;
}

a {
    color: black;
}


a:hover{
    
    color: blue;
}

.container {
    
    background-color: #fff;
}


/*************************  footer   ***********************/

footer {
    
    font-size: 1.2rem;
    text-align: center;
    clear: both;
    padding: 50px;

}

.foot {
    margin: 10px;
}

//.border {
    
    margin-top: 10px;
}

/* clear fix*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

  
/*==========================Media  Queries ======================= ===============================================================*/


@media (min-width: 768px) {
    
 .container {      /* .container      */
    max-width: 90%;
    margin: 0 auto;
}
 .name,   
 .gallery {
    float: left;
}

.paragraph {
        
        padding-bottom: 3rem;
    }
        
    .header-image {
        max-width: 30%;
        padding-top: 40px;
		padding-bottom: 40px;
    }
    
.gallery {  
    width: 50%;
    
}
    
 .main-nav {
     margin-bottom: 20px;
    text-align: right;    
	margin-right: -25px;
    }
    
    
 .gallery {
     display: inline-block;
     margin-right: -4px;
     vertical-align: top;
	 padding-left: .5rem;
	 padding-right: .5rem;
}
    
    
/*layout container*/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    
}
  
.name,
.main-nav,
.main-nav li {
    
    display: inline-block;
        
}

    
.name {
   float: left; 
    width: 400px;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-top: -10px;
}

.main-nav {
    
    float: right;
}
    
    
 .main-nav li {
   display: inline-block;  /*  float: left;*/   
   } 
    
a {
    
    padding: 1.5rem;
}
}

@media (min-width: 1025px) {
.container {
    width: 85%;
    max-width: 1150px;
        
}

.gallery    {
    width: 33%;

	
}
}
        











