* {
	box-sizing: border-box;
}
body {
	line-height: 1.3rem;
	margin-top: 0;
	margin-top: -20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
}
h1, h2, h3, a {
	font-family: 'Open Sans', arial;
}
p {
	font-family: 'Times New Roman', arial;
}

.intro {
	display: block;
	margin: 0 auto;
	width: 40%;
	color: blue;
	padding-bottom: 30px;
	margin-left: 100px;
	padding-top: 100px;
}
.container1 {
	background-color: #4abdac;
}

.imageintro {
background-color: #4abdac;
}

.container2 {
	background-color: #fc4a1a;
	padding-bottom: 80px;
	padding-top: 30px;
}
.container3 {
	background-color: #f7b733;
	padding-bottom: 0px;
	padding-top: 80px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.container4 {
	margin-top: 50px;
}
.container {
	width: 79%;
	margin: 0 auto;
}
.container::after {
	/*Met Ramon erop gezet*/
	content: "";
	display: table;
	clear: both;
}
img {
	width: 100%;
}
.paragraph3, .paragraph6 {
	margin-bottom: 20px;
}
.paragraph4 {
	margin-bottom: 40px;
}


/***********  Base layout  *************/

.name a, .main nav a {
	padding: 10px 15px;
	display: block;
}
.name {
	margin: 0;
	padding-bottom: 0;
}
.main-nav {
	margin-top: 5px;
	padding-right: 40px;
}
nav ul li {
	text-transform: uppercase;
}
.title {
	font-weight: bold;
	font-size: 2em;
}
h2 {
	text-align: center;
	font-weight: 100;
}
section {
	margin-top: 80px;
	margin-bottom: 80px;
	padding-bottom: 10px;
}
.gallery {
	margin-top: 1rem;
}

/****************link style*********************/

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/*****************   style    ************************/

.headline {
	margin-bottom: 0;
}
h3, p {
	text-align: center;
	margin: 0;
}
.title {
	margin-top: 0rem;
}
a {
	color: black;
}
a:hover {
	color: blue;
}
.container {
	background-color: #fff;
}

/*************************  footer   ***********************/

footer {
	font-size: 1.2rem;
	text-align: center;
	clear: both;
	padding: 50px;
}
.foot {
	margin: 10px;
}

/* clear fix*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*==========================Media  Queries ======================= ===============================================================*/

@media (min-width: 320px) {
	.name, .main-nav {
		text-align: center;
	}
	.name {
		line-height: 1;
	}
}
@media (min-width: 768px) {
	.container {
		/* .container      */
		max-width: 90%;
		margin: 0 auto;
	}
	.name, .gallery {
		float: left;
	}
	.paragraph {
		padding-bottom: 3rem;
	}
	.header-image {
		max-width: 40%;
		padding-top: 40px;
		padding-bottom: 40px;
		display: block;	
		margin: 0 auto;
		float: right;
		padding-right: 100px;
	}
h1 {
		margin-left: 50px;
	}
		.gallery {
		width: 50%;
	}
	.main-nav {
		margin-bottom: 20px;
		text-align: right;
		margin-right: -25px;
		margin-top: 25px;
		padding-left: 0px;
		
	}
	.gallery {
		display: inline-block;
		margin-right: -4px;
		vertical-align: top;
		padding-left: .5rem;
		padding-right: .5rem;
	}
	/*layout container*/
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.name, .main-nav, .main-nav li {
		display: inline-block;
	}
	.name {
		float: left;
		width: 400px;
		padding-bottom: 20px;
		padding-left: 10px;
		margin: 0;
	}
	.main-nav {
		float: right;
		padding-right: 100px;
	}
	.main-nav li {
		display: inline-block;
		/*  float: left;*/
	}
	a {
		padding: 1.5rem;
	}
	.container4 .name a {
		padding-top: 11px;
	}
	.main-footer .main-nav {
		
	}
}
@media (min-width: 1024px) {
	.container {
		width: 85%;
		max-width: 1150px;
	}
	.gallery {
		width: 33%;
	}
.name {
		margin-left: 50px;
	}
.container4 .name {
	padding-top: 10px;
	padding-bottom: 0px;
	}
	
//.buttomnav .main-nav {
	margin-bottom: 0px;
	padding-top: 20px;
}
}